<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard TheIsert</title>
    <link rel="icon" href="https://i.imgur.com/ARInGZf.png" />
  </head>
  <body>
    {{{body}}}
  </body>

</html>